@model IEnumerable<ScheduleBTEC.DTO.LichhocDTo>

@{
    ViewData["Title"] = "Index";
}

<h1>Schedules Manager</h1>

<p>
    <a asp-action="Create" asp-controller="Schedules">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datelear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeLear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coursename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.learname)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.teachername)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datelear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeLear)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.coursename)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.classname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.learname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teachername)
                </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ScheduleId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ScheduleId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
