@model IEnumerable<ScheduleBTEC.DTO.ViewScheduleDTO>

@{
    DateTime selectedWeek;
    if (ViewBag.SelectedWeek != null && ViewBag.SelectedWeek is DateTime)
    {
        selectedWeek = (DateTime)ViewBag.SelectedWeek;
    }
    else
    {
        selectedWeek = DateTime.Today;
    }
    // Calculate the overall start and end dates
    DateTime overallStartDate = Model.Any() ? Model.Min(item => item.startdate) : selectedWeek.AddDays(5);
    DateTime overallEndDate = Model.Any() ? Model.Max(item => item.enddate) : overallStartDate.AddDays(6);
}


<h1>Calender</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>

<form asp-action="Index" method="get">
    <label for="week">Choice Week:</label>
    <input type="week" name="week" id="week">
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead style="background-color: blue;color:white;">
        <tr>
            <th>Slot</th>
            @for (DateTime date = overallStartDate; date <= overallEndDate; date = date.AddDays(1))
            {
                <th>@date.ToString("ddd")<br />@date.ToString("MM/dd")</th>
            }
        </tr>


    </thead>

    <tbody>
        @for (int i = 1; i <= 4; i++)
        {
            <tr>
                <td style="height : 100px">Tiết @i</td>
                @for (int j = 1; j <= 7; j++)
                {
                    <td style="height : 100px">
                        @foreach (var item in Model)
                        {
                            DayOfWeek dayOfWeek = item.DateLearn.DayOfWeek;
                            int dayOfWeekNumber = (int)dayOfWeek;
                            if (dayOfWeekNumber == j && item.timelearn == i.ToString())
                            {
                                <h2>@item.classname</h2>
                                if (item.role == "1" && item.DateLearn.Date == DateTime.Now.Date)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ScheduleId">Điểm danh</a>
                                    <h6>Today</h6>
                                }
                                else if (item.role == "1" && item.DateLearn.Date < DateTime.Now.Date)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ScheduleId">Điểm danh</a>
                                    <h6>@(item.status ? "Not Yes" : "Attendance")</h6>
                                }
                                else if (item.DateLearn.Date < DateTime.Now.Date || item.DateLearn.Date > DateTime.Now.Date)
                                {
                                    <h6>@(item.status ? "Not Yes" : "Attendance")</h6>
                                }

                            }
                        }
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
