@model IEnumerable<ScheduleBTEC.Models.Schedule>

@{
    // Biến để lưu trữ thông tin về tuần đã chọn
    DateTime selectedWeek;

    // Kiểm tra nếu đã chọn tuần, nếu không thì sử dụng tuần hiện tại
    if (ViewBag.SelectedWeek != null && ViewBag.SelectedWeek is DateTime)
    {
        selectedWeek = (DateTime)ViewBag.SelectedWeek;
    }
    else
    {
        selectedWeek = DateTime.Today;
    }

    // Xác định ngày bắt đầu và kết thúc của tuần đã chọn
    DateTime startOfWeek = selectedWeek.AddDays(-(int)selectedWeek.DayOfWeek);
    DateTime endOfWeek = startOfWeek.AddDays(6);

    // Chuỗi để lưu trữ giá trị tuần trong định dạng "yyyy-Www"
    string weekValue = $"{selectedWeek:yyyy}-W{selectedWeek:ww}";
}


<h1>Lịch học</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>

<form asp-action="Index" method="get">
    <label for="week">Chọn một tuần:</label>
    <input type="week" name="week" id="week" value="@selectedWeek.ToString("yyyy-MM-dd")">
    <button type="submit">Tìm kiếm</button>
</form>

<table class="table">
    <thead style="background-color: blue;color:white;">
        <tr>
            <th>Slot</th>
            @for (DateTime date = startOfWeek; date <= endOfWeek; date = date.AddDays(1))
            {
                <th>@date.ToString("ddd")<br />@date.ToString("MM/dd")</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= 4; i++)
        {
            <tr>
                <td>Tiết @i</td>
                @for (int j = 0; j <= 6; j++)
                {
                    <td>
                        @foreach (var item in Model)
                        {
                            DayOfWeek dayOfWeek = item.DateLearn.DayOfWeek;
                            int dayOfWeekNumber = (int)dayOfWeek;
                            if (dayOfWeekNumber == j && item.timelearn == i.ToString())
                            {
                                <h2>@item.Learn.ClassEntity.className</h2>
                                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Điểm danh</a>
                            }
                        }
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
